*.zip
*.xml

__pycache__
aws_lambda_context
selenium
urllib3

PyMySQL-0.10.1.dist-info/
bs4-0.0.1-py3.9.egg-info/
bs4/
google/
google_api_python_client-1.7.11.dist-info/
google_auth-1.7.1.dist-info/
google_auth_httplib2-0.0.3.dist-info/
googleapiclient/
httplib2-0.14.0.dist-info/
httplib2/
indeedkakin-service-account.json
pyasn1-0.4.8.dist-info/
pyasn1/
pyasn1_modules-0.2.7.dist-info/
pyasn1_modules/
pymysql/
requests-2.22.0.dist-info/
requests/
soupsieve-2.1.dist-info/
soupsieve/
urllib3-1.25.7.dist-info/
urllib3/

config.py
